<div class="container-fluid new-post">
  <div class="row">
    <div class="col offset-sm-2 col-sm-8 mt-3-75">
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="row ml-3-0 mr-3-0">
    <div class="offset-sm-2 col-sm-8">
