$navbar-link-color: white;
$navbar-link-hover-color: grey;
$all-links-color: grey;
$error-message-color: red;
$success-message-color: green;
$font-color-body: grey;
$footer-color: #292b2c;
$footer-font-color: white;

@import "bootstrap";
@import "*";

$spacer: (
    300: 300px,
    200: 200px,
    100: 100px,
    75: 75px,
    50: 50px,
    40: 40px,
    35: 35px,
    30: 30px,
    25: 25px,
    20: 20px,
    10: 10px,
    5 : 5px,
    0 : 0px
);

$font: (
    1: 1em,
    1\.5: 1.5em,
    2: 2em,
    2\.5: 2.5em,
    3: 3em
);

@each $key, $value in $font{
  .font-size-#{$key} {
    font-size: $value;
  }
}

/* For each key in the map, created an own class */
@each $key, $value in $spacer {
  .mt-3-#{$key} {
    margin-top: map-get($spacer, $key) !important;
  }
  .mb-3-#{$key} {
    margin-bottom: map-get($spacer, $key) !important;
  }
  .pl-3-#{$key} {
    padding-left: map-get($spacer, $key) !important;
  }
  .pr-3-#{$key} {
    padding-right: map-get($spacer, $key) !important;
  }
  .ml-3-#{$key} {
    margin-left: map-get($spacer, $key) !important;
  }
  .mr-3-#{$key} {
    margin-right: map-get($spacer, $key) !important;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin circle($lens-width, $lens-height, $color){
  position: relative;
  width:$lens-width;
  height:$lens-height;
  border-radius: 50%;
  background-color: $color;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald, 'Open Sans', "Lucida Sans", "Tahoma", "Arial";
}

/*Styling for navbar */

nav {
   font-size: 1.3em;
   opacity: 0.95;
}

#navbarTogglerMyNavBar > ul:nth-child(1){
  order: 2;
}

#navbarTogglerMyNavBar > ul:nth-child(2){
  order: 1;
}
#navbarTogglerMyNavBar > ul:nth-child(3){
  order: 3;
}

.navbar-toggler{
  border: 1px solid $navbar-link-color;
}

.navbar-nav .nav-link, .navbar-nav .nav-item{
  color: $navbar-link-color;
}

.navbar-nav .nav-link:hover, .navbar-brand:hover, .navbar-brand:focus{
  color: $navbar-link-hover-color;
}

.bar{
  display:inline;
}

.nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: inline-block !important;
}

@media (max-width: 992px) {
    .bar{
      display:none;
    }
}

.navbar-brand{
  text-transform: uppercase;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  color: $navbar-link-color;
}

.brand-icon-img{
  margin-right: 5px;
}

.navbar-toggler .fa-bars {
  color: $navbar-link-color;
  font-size: 1.5em;
}

.nav-item{
  font-size: 0.9em;
  letter-spacing: 1.5px;
  display:flex;
  align-items: center;
  font-weight: 200;
}

button.navbar-toggler{
  outline: 0;
  border: 0;
}

hr {
  margin: 2px 0;
  border-top: 1px solid $navbar-link-color;
  width: 100%;
}

/*Styling for footer */

footer{
  width: 100%;
  min-height: 80px;
  font-size: 1.5em;
  background-color: $footer-color;
  color:white;
  font-weight: 200;
  padding-top: 10px;
  overflow: hidden;
}

.social-icons {
  font-size: 0.8em;
}

.social-icons > .icon.icon-circle{
  margin-right: 30px;
}

.social-icons > .icon.icon-circle:last-child {
  margin-right :0;
}

.social-icons a:link {
  color: darken($footer-font-color, 10%);
}

.social-icons a:visited {
  color: darken($footer-font-color, 10%);
}

.social-icons a:hover {
  color: darken($footer-font-color, 30%);
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle.facebook{
  @include circle(40px, 40px, #2D4373);
}

.icon-circle.instagram{
  @include circle(40px, 40px, #305777);
}

.icon-circle.youtube{
  @include circle(40px, 40px, #E42B26);
}

.icon-circle.twitter{
  @include circle(40px, 40px, #55ACEE);
}

.icon-circle.google{
  @include circle(40px, 40px, #C23321);
}

.copyright-info {
  font-size: 0.55em;
  letter-spacing: 0.2px;
}

/*Styling for success or error message*/
.error{
  color:$error-message-color;
}

.success{
  color:$success-message-color;
}

/*Styling for all links*/
a:link {
  color: $all-links-color;
}

a:visited {
  color: darken($all-links-color,20%);
}

a:hover {
  color: darken($all-links-color,20%);
}
